################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CliLogging/CSharpLoggingSample/obj/Debug
/CliLogging/CSharpLoggingSample/bin/Debug
/CliLogging/Logger/Debug
/CliLogging/LogIO/bin/Debug
/CliLogging/LogIO/obj/Debug
*.user
*.db
*.suo
*.opendb
/CliLogging/CppLoggingSample/Debug
/CliLogging/Debug
*.opensdf
**/bin/Debug
**/obj/Debug
**/obj/Release
**/.vs
/Logger/LoggerLib/obj
/CliLogging/LogIO/obj/Release
/Logger/LoggerLibTests/obj/Debug
/Logger/LoggerLibTests/obj/Release/LoggerLibTests.csproj.CoreCompileInputs.cache
/Calculator/CalculatorTests/obj/Debug
/Calculator/.vs/UnitTestsDemo/v15/Server/sqlite3
/Calculator/Calculator/bin/Debug
/Calculator/Calculator/obj/Debug
/Calculator/CalculatorTests/bin/Debug
/Calculator/packages/MSTest.TestFramework.1.3.2
/Calculator/packages/MSTest.TestAdapter.1.3.2
